@import "../../styles/variables.scss";

.sidebar {
  width: 21rem;
  min-height: 100vh;
  border: 1px solid #DADCDE;
  border-top: 0;

  &__section {
    padding: 2rem 1rem 1rem 1rem;
    border-bottom: 1px solid #DADCDE;
    border-left-width: 1px;

    &:last-child {
      border-bottom: 0;
    }

    h1 {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    p {
      color: $color-gray-3;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}