$color-text: #1D1D1D;
$color-gray: #4F4F4F;
$color-gray-3: #828282;
$color-main: #4A7DF4;
$color-independence: #31415F;
$color-orange: #F2735B;
$color-green: #0ABD9E;
$color-white: #FFFF;
$color-stroke-default: #cdcdcd;
$color-stroke-light: #d9d9d9;

$filter-hover: brightness(110%);

/* Font Sizes */
$font-size-heading: 1.5rem; // 24px
$font-size-subheading: 1.25rem; //20px
$font-size-body: 1rem; // 16xp
$font-size-body-sm: 0.875rem; // 14px
$font-size-body-xs: 0.75rem; // 12px

/* Font Families */
$font-family-heading: Poppins, sans-serif;
$font-family-body: Work Sans, sans-serif;